.verticle-mode {
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;      
    writing-mode: vertical-rl;
}
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}
/* header start */
.header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 998;
	height: 3.0rem;
	box-sizing: border-box;
	padding: 0.62963rem 0.518519rem 0;
	background: url(../images/hdBg.png) repeat-x center / cover;
}
.header .logo {
	display: inline-block;
	width: 0.657407rem;
	height: 1.092593rem;
	background: url(../images/logo.png) no-repeat center / cover;
}
.hd-gwc,
.hd-nav {
	display: block;
	width: 0.361111rem;
	margin-left: 0.277778rem;
}
.hd-gwc > p,
.hd-nav > p {
	width: 100%;
	text-align: center;
	margin-top: 0.277778rem;
	font-size: 7px;
	color: #fff
}
[data-dpr="2"] .hd-gwc > p,
[data-dpr="2"] .hd-nav > p {
	font-size: 14px;
}
[data-dpr="3"] .hd-gwc > p,
[data-dpr="3"] .hd-nav > p  {
	font-size: 21px;
}
.hd-gwc:hover,
.hd-nav:hover {
	text-decoration: none;
}
.hd-gwc > i,
.hd-nav > i {
	display: inline-block;
	width: 0.361111rem;
	height: 0.388889rem;
	line-height: 0.388889rem;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	vertical-align: top;
	color: #fff;
	font-size: 7px;
}
[data-dpr="2"] .hd-gwc > i,
[data-dpr="2"] .hd-nav > i {
	font-size: 14px;
}
[data-dpr="3"] .hd-gwc > i,
[data-dpr="3"] .hd-nav > i  {
	font-size: 21px;
}
.hd-gwc > i {
	background-image: url(../images/i-shopping.png);
}
.hd-nav i {
	background-image: url(../images/navBtn.png);
}
/* header end */

/* yb-bnr start */
.swiper-pagination-bullet {
	width: 0.12037rem;
	height: 0.12037rem;
	border-radius: 50%;
	background-color: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 0.222222rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
	bottom: 0.509259rem;
}
.swiper-slide img {
	width: 100%;
}
.swiper-slide .txt {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 15px;
	line-height: 1.5;
	word-spacing: 2px;
	letter-spacing: 4px;
	opacity: 0;
}
[data-dpr="2"] .swiper-slide .txt,
[data-dpr="2"] .swiper-slide .txt {
	font-size: 29px;
}
[data-dpr="3"] .swiper-slide .txt,
[data-dpr="3"] .swiper-slide .txt  {
	font-size: 45px;
}
.swiper-slide.swiper-slide-active .txt {
	opacity: 1;
	margin-top: 0;
	transition: all .5s ease-in;
}
/* yb-bnr end */

/* gotoNext start */
.gotoNext {
	display: block;
	text-align: center;
	padding-top: 0.648148rem;
	padding-bottom: 0.601852rem;
	text-align: center;
}
.gotoNext i {
	display: inline-block;
	width: 0.25rem;
	height: 0.138889rem;
	background: url(../images/pageNext.png) no-repeat center / cover;
	animation: shake 1s ease-in-out infinite normal;
    -webkit-animation: shake 1s ease-in-out infinite normal;
}
@keyframes shake {
    0%,100%,50% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0)
    }

    25% {
        -webkit-transform: translate(0,-10px);
        transform: translate(0,-10px)
    }

    70% {
        -webkit-transform: translate(0,-5px);
        transform: translate(0,-5px)
    }
}

@-webkit-keyframes shake {
    0%,100%,50% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0)
    }

    25% {
        -webkit-transform: translate(0,-10px);
        transform: translate(0,-10px)
    }

    70% {
        -webkit-transform: translate(0,-5px);
        transform: translate(0,-5px)
    }
}
/* gotoNext end */

/* yb-ad start */
.yb-ad {
	padding: 0 0.259259rem;
	padding-bottom: 0.740741rem;
}
.ad-item {
	position: relative;
}
.ad-bg {
	width: 100%;
}
.line {
	width: 6.444444rem;
	height: 1px;
	background: rgba(255, 255, 255, .5);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
}
.ad-inner {
	position: absolute;
	width: 4.916667rem;
	height: 2.861111rem;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-top: 0.26rem;
	box-sizing: border-box;
}
.ad-inner h2 {
	font-size: 11px;
	line-height: 1.406;
}
[data-dpr="2"] .ad-inner h2 {
	font-size: 22px;
}
[data-dpr="3"] .ad-inner h2 {
	font-size: 33px;
}
.ad-inner p {
	font-size: 8px;
	line-height: 1.58;
	margin-top: 0.462963rem;
}
[data-dpr="2"] .ad-inner p {
	font-size: 15px;
}
[data-dpr="3"] .ad-inner p {
	font-size: 24px;
}
.ad-inner.ad-white h2,
.ad-inner.ad-white p {
	color: #fff;
}
.ad-inner.ad-black h2,
.ad-inner.ad-black p {
	color: #000;
}
.ad-black.line {
	background: rgba(0, 0, 0, .5);
}
.ad-inner.ad-black {
	background: #fff;
}
.ad-line {
	position: relative;
	width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, .2);
    margin-top: 0.685185rem;
}
.ad-line p {
	font-size: 8px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 0 0.185185rem;
	background-color: #fff;
	color: rgba(0, 0, 0, .5);
}
[data-dpr="2"] .ad-line p {
	font-size: 15px;
}
[data-dpr="3"] .ad-line p {
	font-size: 24px;
}
/* yb-ad end */

/* yb-separate start */
.yb-separate {
	height: 0.185185rem;
	background-color: #f2f2f2;
}
/* yb-separate end */

/* yb-product start */
.yb-product {
	
}
.yb-product .pro-hd {
	height: 1.472222rem;
	line-height: 1.472222rem;
}
.pro-hd h2 {
	text-align: center;
	font-size: 15px;
	color: #000;
}
[data-dpr="2"] .pro-hd h2 {
	font-size: 29px;
}
[data-dpr="3"] .pro-hd h2 {
	font-size: 45px;
}
.product-box {
	background-color: #f7f7f7;
}
.product-box .product-item {
	border-top: 1px solid rgba(0, 0, 0, .2);
	width: 33.33333333%;
	display: block;
	float: left;
	text-align: center;
	padding-top: 0.388889rem;
	padding-bottom: 0.787037rem;
	/*height: 4.5rem;
	box-sizing: border-box;*/
}
.product-item > img {
	width: 100%;
}
.product-item:hover {
	text-decoration: none;
}
.product-item > h2 {
	font-size: 10px;
	color: #000;
	line-height: 1.5;
}
[data-dpr="2"] .product-item > h2 {
	font-size: 19px;
}
[data-dpr="3"] .product-item > h2 {
	font-size: 28px;
}
.product-item > p {
	font-size: 8px;
	color: rgba(0, 0, 0, .5);
	margin-top: 0.185185rem;
}
[data-dpr="2"] .product-item > p {
	font-size: 16px;
}
[data-dpr="3"] .product-item > p {
	font-size: 24px;
}
.m-more {
	display: block;
	width: 100%;
	background-color: #f7f7f7;
	font-size: 10px;
	color: #000;
	height: calc(1.092593rem + 2px);
	line-height: 1.092593rem;
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	box-sizing: border-box;
}
[data-dpr="2"] .m-more {
	font-size: 19px;
}
[data-dpr="3"] .m-more {
	font-size: 28px;
}
/* yb-product end */

/* footer start */
.footer {
	padding-top: 0.648148rem;
}
.footer .ft-1 {
	padding-bottom: 0.37037rem;
}
.ft-1 h6 {
	font-size: 8px;
	color: rgba(0, 0, 0, .5);
	text-align: center;
}
[data-dpr="2"] .ft-1 h6 {
	font-size: 16px;
}
[data-dpr="3"] .ft-1 h6 {
	font-size: 24px;
}
.ft-1 p {
	font-size: 15px;
	color: #000;
	text-align: center;
	margin-top: 0.296296rem;
}
[data-dpr="2"] .ft-1 p {
	font-size: 29px;
}
[data-dpr="3"] .ft-1 p {
	font-size: 45px;
}
.footer .ft-2 {
	padding-top: 0.222222rem;
	padding-bottom: 0.222222rem;
	border-top: 1px solid rgba(0, 0, 0, .2);
}
.ft-2 h6,
.ft-2 p {
	font-size: 8px;
	color: rgba(0, 0, 0, .5);
	text-align: center;
	line-height: 1.75;
}
[data-dpr="2"] .ft-2 h6,
[data-dpr="2"] .ft-2 p {
	font-size: 16px;
}
[data-dpr="3"] .ft-2 h6,
[data-dpr="3"] .ft-2 p {
	font-size: 24px;
}
/* footer end */

/* m-bnr start */
.m-bnr {
	/*height: 6.583333rem;*/
}
.m-bnr img {
	width: 100%;
}
/* m-bnr end */

/* m-info start */
.m-info {
	text-align: center;
	padding-top: 0.611111rem;
	padding-bottom: 0.574074rem;
}
.m-info h2 {
	font-size: 15px;
	color: #000;
	margin-bottom: 0.425926rem;
}
[data-dpr="2"] .m-info h2 {
	font-size: 29px;
}
[data-dpr="3"] .m-info h2 {
	font-size: 45px;
}
.m-info p {
	font-size: 8px;
	line-height: 1.75;
	color: rgba(0, 0, 0, .5);
}
[data-dpr="2"] .m-info p {
	font-size: 16px;
}
[data-dpr="3"] .m-info p {
	font-size: 24px;
}
/* m-info end */

/* m-hd start */
.m-hd {
	margin-top: 0.092593rem;
	padding-top: 0.555556rem;
	padding-bottom: 0.555556rem;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.m-hd h2 {
	font-size: 15px;
	text-align: center;
	color: #000;
}
[data-dpr="2"] .m-hd h2 {
	font-size: 29px;
}
[data-dpr="3"] .m-hd h2 {
	font-size: 45px;
}
/* m-hd end */

/* m-block start */
.m-block {
	padding: 0 0.259259rem;
}
.exh-item {
	text-align: center;
	padding-bottom: 0.185185rem;
	padding-top: 0.37037rem;
}
.m-block .exh-item:first-of-type {
	padding-top: 0.555556rem;
}
.exh-item > img {
	width: 100%;
}
.exh-item > h6 {
	margin-bottom: 6px;
	margin-top: 0.574074rem;
}
.exh-item > h6,
.exh-item > p {
	font-size: 10px;
	color: rgba(0, 0, 0, .5);
	line-height: 1.75;
}
[data-dpr="2"] .exh-item > h6,
[data-dpr="2"] .exh-item > p {
	font-size: 19px;
}
[data-dpr="3"] .exh-item > h6,
[data-dpr="3"] .exh-item > p {
	font-size: 28px;
}
.exh-item > .map {
	display: inline-block;
	margin-top: 0.277778rem;
	font-size: 10px;
	color: #000;
}
[data-dpr="2"] .exh-item > .map {
	font-size: 19px;
}
[data-dpr="3"] .exh-item > .map {
	font-size: 28px;
}
.m-block .ad-item:first-of-type {
	margin-top: 0.555556rem;
}
.qrCode-item {
	text-align: center;
	padding-top: 0.648148rem;
}
.qrCode-item + .qrCode-item {
	margin-top: 0.277778rem;
	margin-bottom: 0.462963rem;
}
.qrCode-item img {
	width: 1.907407rem;
}
.qrCode-item > p {
	font-size: 10px;
	color: rgba(0, 0, 0, .5);
	margin-top: 0.296296rem;
}
[data-dpr="2"] .qrCode-item > p {
	font-size: 19px;
}
[data-dpr="3"] .qrCode-item > p {
	font-size: 28px;
}
/* m-block end */

/* pro-bnr start */

/* pro-bnr end */

/* detail-r1 start */
.detail-r1 {
	height: 1.481481rem;
	line-height: 1.481481rem;
	padding-left: 0.583333rem;
	padding-right: 0.527778rem;
	background-color: #f7f7f7;
}
.detail-r1 h5,
.detail-r1 .price {
	font-size: 15px;
	color: #000;
}
[data-dpr="2"] .detail-r1 h5,
[data-dpr="2"] .detail-r1 .price {
	font-size: 29px;
}
[data-dpr="3"] .detail-r1 h5,
[data-dpr="3"] .detail-r1 .price {
	font-size: 45px;
}
.detail-r1 .label {
	font-size: 10px;
	color: #000;
	margin-right: 0.092593rem;
}
[data-dpr="2"] .detail-r1 .label {
	font-size: 19px;
}
[data-dpr="3"] .detail-r1 .label {
	font-size: 28px;
}
/* detail-r1 end */

/* detail-r2 start */
.detail-r2 {
	background-color: #f7f7f7;
}
.detail-r2 > a,
.detail-r2 > input {
	width: 33.33333333%;
	box-sizing: border-box;
	height: 1.203704rem;
	line-height: calc(1.203704rem - 1px);
	border-top: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	text-align: center;
}
.detail-r2 > input {
	border-left: 1px solid rgba(0, 0, 0, .2);
	border-right: 1px solid rgba(0, 0, 0, .2);
	background-color: #f7f7f7;
	font-size: 10px;
}
[data-dpr="2"] .detail-r2 > input {
	font-size: 19px;
}
[data-dpr="3"] .detail-r2 > input {
	font-size: 28px;
}
/* detail-r2 end */

/* detail-r3 start */
.detail-r3 {
	padding: 0.555556rem 0.259259rem;
	background-color: #f7f7f7;
}
.detail-r3 .title,
.detail-r4 .title {
	font-size: 11px;
	color: #000;
	margin-bottom: 0.416667rem;
}
[data-dpr="2"] .detail-r3 .title,
[data-dpr="2"] .detail-r4 .title {
	font-size: 22px;
}
[data-dpr="3"] .detail-r3 .title,
[data-dpr="3"] .detail-r4 .title {
	font-size: 33px;
}
.detail-r3 p,
.detail-r4 p {
	font-size: 10px;
	line-height: 1.75;
	color: rgba(0, 0, 0, .5);
}
[data-dpr="2"] .detail-r3 p,
[data-dpr="2"] .detail-r4 p {
	font-size: 19px;
}
[data-dpr="3"] .detail-r3 p,
[data-dpr="3"] .detail-r4 p {
	font-size: 28px;
}
.detail-r3 .label {
	display: inline-block;
	width: 1.314815rem;
	margin-right: 0.185185rem;
}
/* detail-r3 end */

/* detail-r4 start */
.detail-r4 {
	padding: 0.555556rem 0.259259rem 1.666667rem;
	border-top: 1px solid rgba(0, 0, 0, .2);
	background-color: #f7f7f7;
}
.detail-r4 p + p {
	margin-top: 0.37037rem;
}
/* detail-r4 end */

/* detail-btn start */
.detail-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
}
.detail-btn > a {
	display: block;
	width: 50%;
	box-sizing: border-box;
	text-align: center;
	height: 1.212963rem;
	line-height: 1.212963rem;
	font-size: 11px;
	color: #000;
}
[data-dpr="2"] .detail-btn > a {
	font-size: 22px;
}
[data-dpr="3"] .detail-btn > a {
	font-size: 33px;
}
.detail-btn > a + a {
	border-left: 1px solid rgba(0, 0, 0, .2);
}
/* detail-btn end */

/* nav start */
.nav {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 999;
	display: none;
}
.nav.cur {
	display: block;
}
.nav-bg {
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
}
.nav-box {
	width: 8.231481rem;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -8.231481rem;
	z-index: 999;
}
.nav-hd {
	position: absolute;
	z-index: 999;
	left: 0;
	width: 100%;
	height: 2.092593rem;
	background-color: #f7f7f7;
	padding: 0 0.740741rem;
	padding-top: 0.537037rem;
	box-sizing: border-box;
}
.nav-hd-inner {
	position: relative;
}
.nav-hd input {
	border: none;
	border-bottom: 1px solid #000;
	background-color: transparent;
	font-size: 10px;
	line-height: 1.5;
	padding-bottom: 0.277778rem;
	padding-top: 0.277778rem;
	width: 100%;
}
[data-dpr="2"] .nav-hd input {
	font-size: 19px;
}
[data-dpr="3"] .nav-hd input {
	font-size: 28px;
}
.nav-hd .i-search {
	position: absolute;
	right: 18px;
	top: 50%;
	transform: translateY(-50%);
	width: 0.268519rem;
	height: 0.277778rem;
	background: url(../images/i-search.png) no-repeat center / cover;
}
.nav-list-outer {
	position: absolute;
	z-index: 998;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-y: auto;
	padding-top: 2.092593rem;
}
.nav-list .nav-item + .nav-item {
	border-top: 1px solid rgba(0, 0, 0, .2);
}
.nav-1 {
	line-height: 1.157407rem;
	height: 1.157407rem;
	position: relative;
	padding-left: 0.740741rem;
}
.onlyOne .nav-1 {
	padding-left: 0;
}
.onlyOne .nav-1 a {
	padding-left: 0.740741rem;
	display: block;
}
.nav-1 a {
	font-size: 12px;
	color: #000ï¼›
}
[data-dpr="2"] .nav-1 a {
	font-size: 24px;
}
[data-dpr="3"] .nav-1 a {
	font-size: 36px;
}
.nav-1 i {
	position: absolute;
	right: 0.740741rem;
	top: 50%;
	transform: translateY(-50%);
	width: 0.203704rem;
	height: 0.203704rem;
	background: url(../images/unfolded.png) no-repeat center / cover;
}
.open .nav-1 i {
	background-image: url(../images/shrink.png);
}
.nav-2 {
	/*padding-top: 0.351852rem;*/
	display: none;
	padding-bottom: 0.277778rem;
}
.open .nav-2 {
	/*display: block;*/
}
.nav-2 a {
	display: block;
	font-size: 10px;
	line-height: 0.685185rem;
	color: rgba(0, 0, 0, .6);
	padding-left: 0.740741rem;
}
[data-dpr="2"] .nav-2 a {
	font-size: 19px;
}
[data-dpr="3"] .nav-2 a {
	font-size: 28px;
}
.nav-2 .cn {
	display: inline-block;
	width: 1.388889rem;
	margin-right: 0.185185rem;
}
.nav-2 .en {
	
}
/* nav end */